*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
.idea
*.iml
.mvn/
gradle/
README.html
p2Token.txt
node_modules
k8s/celery-secret.yaml
k8s/mariadb-secret.yaml
k8s/ghcr-secret.yaml
k8s/r2-secret.yaml
